.elementor-kit-1659 {
  --e-global-color-primary: #6ec1e4;
  --e-global-color-secondary: #54595f;
  --e-global-color-text: #7a7a7a;
  --e-global-color-accent: #61ce70;
  --e-global-color-0ba7d90: #c02b2e;
  --e-global-color-6df7298: #b32c2e;
  --e-global-color-62b5960: #e95c28;
  --e-global-color-68d746c: #343433;
  --e-global-typography-primary-font-family: "Roboto";
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-secondary-font-family: "Roboto Slab";
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-text-font-family: "Roboto";
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-accent-font-family: "Roboto";
  --e-global-typography-accent-font-weight: 500;
  --e-page-transition-entrance-animation: e-page-transition-fade-out;
  --e-page-transition-exit-animation: e-page-transition-fade-in;
  --e-page-transition-animation-duration: 1500ms;
  --e-preloader-delay: 150ms;
  --e-preloader-color: var(--e-global-color-62b5960);
  --e-preloader-size: 68px;
}
.elementor-kit-1659 e-page-transition {
  background-color: var(--e-global-color-astglobalcolor5);
}
.elementor-kit-1659 img {
  transition-duration: 0s;
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1140px;
}
.e-con {
  --container-max-width: 1140px;
}
.elementor-widget:not(:last-child) {
  margin-block-end: 20px;
}
.elementor-element {
  --widgets-spacing: 20px 20px;
  --widgets-spacing-row: 20px;
  --widgets-spacing-column: 20px;
}
 {
}
h1.entry-title {
  display: var(--page-title-display);
}
@media (max-width: 1024px) {
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
}
@media (max-width: 767px) {
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
}
